---
import Layout from "../../layouts/Layout.astro";

import { getI18n } from "../../i18n";

const i18n = getI18n(Astro.currentLocale);
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
	<main class="min-h-[70vh]"></main>
</Layout>
